<!DOCTYPE html>
<html>
<head>

<%- css('css/bootstrap') %>
<%- css('css/custom') %>

<script>

    <%- partial('_partial/javascriptinclude', null, {cache: !config.relative_link}) %>
    
</script>

</head>