<% if (page.imgfolder != undefined) { %>
    <div role="tabpanel" class="tab-pane fade in active" id="details" aria-labelledBy="home-tab">
        <div id="carousel-generic" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-generic" data-slide-to="1"></li>
                <li data-target="#carousel-generic" data-slide-to="2"></li>
            </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active slide_container img-responsive center-block">
                        <img src="/images/products/<%= page.imgfolder %>/img1.jpg" alt="..." class="img-responsive center-block">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item slide_container img-responsive center-block">
                        <img src="/images/products/<%= page.imgfolder %>/img2.jpg" alt="..." class="img-responsive center-block">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item slide_container img-responsive center-block">
                        <img src="/images/products/<%= page.imgfolder %>/img3.jpg" alt="..." class="img-responsive center-block">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item slide_container img-responsive center-block">
                        <img src="/images/products/<%= page.imgfolder %>/img4.jpg" alt="..." class="img-responsive center-block">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
        </div>
    </div>


<% }; %>

