<%- partial('js/libs/jquerydebounce', null, {cache: !config.relative_link}) %>
<%- partial('js/libs/jqueryfinger', null, {cache: !config.relative_link}) %>
<%- partial('js/libs/jquerymin', null, {cache: !config.relative_link}) %>
<%- partial('js/libs/jquerytouch', null, {cache: !config.relative_link}) %>
<%- partial('js/libs/bootstrap', null, {cache: !config.relative_link}) %>
<%- partial('js/custom', null, {cache: !config.relative_link}) %>