<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-sactech mobilelogo" href="index.html"><img src="/images/logo.jpg" alt="..." itemprop="image" class="img-reponsive"/></a>

       <a id="cartlink" href="https://sac-tech-cart.foxycart.com/cart"><img src="/images/cart.png" alt="..." itemprop="image" class=" cart-link" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/index">Home</a></li>      
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/shipping-returns">Shipping & Returns</a></li>
        <li><a href="/international-shipping">International Shipping</a></li>      
        <li><a href="/privacy-policy">Privacy Policy</a></li>    
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>  