/* Space out content a bit */
body {
  /*padding-top: 20px;*/
  padding-bottom: 20px;
}

.row { margin-bottom: 20px; }
#main-content { margin-bottom: 30px; }
.details-tabs .nav-tabs { margin-bottom: 15px; }
.description-area { padding-top: 20px; }
.add-to-cart-btns { margin-bottom: 20px; }
.add-to-cart { margin-right: 20px; }
.cart-link { width: 64px; height: 64px; }

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

  .slide_container { 
    height: 200px; 
    width: 250px;
  }
  


@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}


/* Landscape phones and down */
@media screen and (max-width: 480px) { 
  .header {
    margin-bottom: 30px;
  }
}  

/* Landscape phone to portrait tablet */
@media screen and (max-width: 767px) { 
  .header {
    margin-bottom: 30px;
  }
}
 
/* Portrait tablets and up */
@media screen and (min-width: 768px) {

  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  .header {
    margin-bottom: 30px;
  }

}


.navbar-sactech{
	display: inline-block;
	float: none;
}
.navbar-right{
	margin-top: 25px;
}
.navbar-toggle{
	margin-top: 40px;
}

