<html id="fc">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ config.store_name }} Cart</title>

</head>
<body class="fc-context--cart-fullpage" data-fc-context='{"cart_is_fullpage":true}'>
    <script type="text/javascript">
        window.location="https://{{ config.store_domain }}/checkout?{{ session_name }}={{ session_id }}";
    </script>
</body>
</html>
