<!DOCTYPE html>
<html id="fc">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ config.store_name }} Secure Checkout</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!--[if lt IE 9 ]>
        <script type="text/javascript">
            var IEElms = ['article', 'aside', 'header', 'main', 'nav', 'section'];
            for (var i = 0; i < IEElms.length; i++) {
                document.createElement(IEElms[i]);
            };
        </script>
    <![endif]-->

    <link href="{{ config.css_file }}" rel="stylesheet" media="screen">

    <!-- FC script insertion -->{{ fc_header_content|raw }}<!-- /FC script insertion -->
    <!--[if lt IE 9 ]>
        <script src="{{ config.cdn_static_path }}scripts/respond/respond.1.4.2.js" charset="utf-8"></script>
        <style>
            #fc label.fc-form-label--with-placeholder {
                display:block !important;
                left:0 !important;
                width:auto !important;
                height:50px !important;
                clip:auto !important;
                position:relative !important;
                text-align:left !important;
            }
        </style>
    <![endif]-->

    <style>
    
        div#customer_email_container {
            display: none !important;
        }

        #fc body {
            /*background: #00344c no-repeat !important;*/
            background: #fff;
            padding: 0 !important;
        }
        
        #fc .fc-sidebar {
            background: none !important;
        }
        
        #fc .fc-button {
            padding-top: 10px;
            padding-bottom: 10px;
            text-shadow: 1px 1px 0px #327123;
            background: none repeat scroll 0 0 #41AE53 !important;
            border-color: #2A8438 !important;
            border-radius: 4px !important;
            border-style: none none solid !important;
            border-width: medium medium 3px !important;
            color: #ffffff !important;
            cursor: pointer !important;
            display: inline-block !important;
            font-size: 16px !important;
            padding: 6px 12px 5px !important;
            text-decoration: none !important;
            width: auto !important;            
        }
        
        #fc .fc-button:hover {
            background: none repeat scroll 0 0 #2A8438 !important;
        }
        
        input, textarea, select {
            background: #ffffff !important;
            border: 1px solid #DDDDDD !important;
            border-radius: 3px !important;
            line-height: 20px !important;
            margin: 1px 0 3px !important;
            min-height: 20px !important;
            padding: 4px 5px 3px !important;
            transition: all .3s ease-in 0;
            -moz-transition: all .3s ease-in 0;
            -webkit-transition: all .3s ease-in 0;
            -o-transition: all .3s ease-in 0;
            -ms-transition: all .3s ease-in 0;
        }
        
        #fc .fc-section-counter {
            background: #00344c !important;
        }

        #fc-icon-lock-large {
            display: none !important;
        }

        #fc ul, #fc ol {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

        #fc a {
            color: #777 !important;
            text-decoration: none !important;
        }
           

    </style>

    <link rel="stylesheet" href="https://checkout-template-nico-sevilla.c9.io/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://checkout-template-nico-sevilla.c9.io/css/custom.css">    
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Load the script "js/main.js" as our entry point -->
    
    <script data-main="js/main" src="https://checkout-template-nico-sevilla.c9.io/js/libs/jquery.min.js"></script>     
    <script data-main="js/main" src="https://checkout-template-nico-sevilla.c9.io/js/libs/bootstrap.min.js"></script>
    <script data-main="js/main" src="https://checkout-template-nico-sevilla.c9.io/js/libs/jquery.touchSwipe.min.js"></script>
    <script data-main="js/main" src="https://checkout-template-nico-sevilla.c9.io/js/libs/jquery.finger.js"></script>    
    <script data-main="js/main" src="https://checkout-template-nico-sevilla.c9.io/js/custom.js"></script>  

    <script type="text/javascript">
      window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("2589299942");
    </script>

    <script type="text/javascript">
      var im_domain = 'sactech';
      var im_project_id = 1;
      (function(e,t){window._improvely=[];var n=e.getElementsByTagName("script")[0];var r=e.createElement("script");r.type="text/javascript";r.src="https://"+im_domain+".iljmp.com/improvely.js";r.async=true;n.parentNode.insertBefore(r,n);if(typeof t.init=="undefined"){t.init=function(e,t){window._improvely.push(["init",e,t])};t.goal=function(e){window._improvely.push(["goal",e])};t.conversion=function(e){window._improvely.push(["conversion",e])};t.label=function(e){window._improvely.push(["label",e])}}window.improvely=t;t.init(im_domain,im_project_id)})(document,window.improvely||[])
    </script> 
    
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden" href="/">Sac Tech</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>      
        <li><a href="contact-us.html">Contact Us</a></li>
        <li><a href="international-shipping.html">International Shipping</a></li>                             
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> 





<!-- has to be here because of chrome bug -->
    {% include 'svg.inc.twig' %}

    {% import "utils.inc.twig" as utils %}
    {% use 'checkout.inc.twig' %}
    {{ block('checkout') }}


    <!-- FC footer script insertion -->{% include template_from_string(fc_footer_content) %}<!-- /FC footer scripts -->
    <!--[if lt IE 10 ]>
        <script src="//{{ config.store_domain }}/static/scripts/placeholder/placeholder_polyfill.jquery.js" charset="utf-8"></script>
    <![endif]-->


</body>
</html>
